# Віртуальне середовище
venv/
.venv/

# Файли конфігурації з токенами
.env

# База даних та локальні файли
database/*.db
*.sqlite3

# Кеш Python
__pycache__/
*.pyc
.vscode/
.idea/

logs/